#image {
  max-width: 100%;
  height: auto;
}
img {
  object-fit: centered;
  display: block;
  margin: auto;
}
body {
  background: #eeeeee;
  text-align: center;
}
#img-div {
  background: white;
  padding: 2em;
  margin: 1em;
}
